<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gestion des risques</title>
        <link rel="stylesheet" type="text/css" href="css/css.css">
        <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script src="https://kit.fontawesome.com/03eb2030ee.js" crossorigin="anonymous"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <h2>Gestion des risques</h2>
                <ul>
                    <li><a href="#">Principaux indicateurs</a></li>
                    <li><a href="#">Statistiques</a></li>
                    <li><a href="#">Registre des risque</a></li>
                    <li><a href="#">Recueil</a></li>
                    <li><a href="#">Cartographie</a></li>
                    <li><a href="#">Plans d'actions</a></li>
                    <li><a href="#">Documentation</a></li>
                </ul> 

            </div>
            <div class="main_content">
                <div class="header" id="output">
                
                </div>  
                <nav>
                    <div class="sub-menu-wrap" id="subMenu">
                        <div class="sub-menu">
                            <div class="uer-info">
                                <img src="img/R.png" style="margin-right: 5px;" >
                                <h3>Mme. Mounya</h3>
                            </div>
                            <hr>

                            <a href="#" class="sub-menu-link">
                                <img src="img/Power@4x.png">
                                <p>Deconnexion</p>
                                <span>></span>
                            </a>

                        </div>
                    </div>
                </nav>
            </div>
                <div class="menu">
                        <a href="identification.html" class="one">Identification</a>
                        <a href="analyse.html" class="two">Analyse</a>
                        <a href="traitement.html" class="three">Traitement</a>
                        <a href="suivi.html" class="four">Suivi et surveillance</a>
                  
                    <div class="circle">
                        <ul>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                        </ul>
                    </div>
                </div> 
        </div>
        <script type="text/javascript" src="js/time.js"></script>
    </body>
</html>