<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Gestion des risques</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

<table class="table table-bordered" style="text-align: center">
    <thead>
    <tr>
        <th colspan="8">Fiche de suivi du risque</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th colspan="2"> Macro-processus </th >
        <td colspan="6"> <p id="pMacroProcessus"></p> </td >

    </tr >

    <tr>
        <th colspan="2"> Processus </th>
        <td > <p id="pCodeProcessus"></p> </td >
        <td colspan="5"> <p id="pProcessus"></p> </td >

    </tr >
    <tr>
        <th colspan="2"> Risque </th>
        <td id="codeRisk"> <p id="pCodeRisk"></p> </td >
        <td colspan="5" id="tdRisk"> <p id="pRisk"></p> </td >
    </tr >
    <tr>
        <th colspan="2"> Proprietaire du risque </th >
        <td colspan="6" id="pOwner">  </td >
    </tr >
    <tr>
        <th colspan="8"> Detail du risque </th>
    </tr >
    <tr>
        <th colspan="2"> Typologie du risque </th >
        <td colspan="6"> </td >
    </tr >
    <tr>
        <th rowspan="7"> Evaluation du risque </th >
        <th > Frequence</th>
        <td colspan="6" id="pFrequency"> </td >
    </tr >
    <tr>
        <th rowspan="4"> Impact</th >
        <th colspan="2"> Image </th>
        <td colspan="4" id="pImage">  </td >
    </tr >
    <tr>
        <th  colspan="2"> Legale </th >
        <td colspan="4" id="pLegal">  </td >
    </tr >
    <tr>
        <th  colspan="2"> Performance </th>
        <td colspan="4" id="pPerformance">  </td >
    </tr >
    <tr>
        <th colspan="2"> Financier </th >
        <td colspan="4" id="pFinancier">  </td >
    </tr >
    <tr>
        <th  > Niveau de maitrise </th>
        <td colspan="6"> </td >
    </tr >
    <tr>
        <th > Risque net </th >
        <td colspan="6">  </td >
    </tr >
    <tr>
        <th  colspan="2"> Traitement du risque </th >
        <td colspan="6"> </td >
    </tr >
    <tr>
        <th colspan="8"> Plan d'action </th>
    </tr >
    <tr>
        <th> Ref. </th>
        <th> Action a mettre en place </th >
        <th> Date </th >
        <th> Realisation </th >
        <th> Cout </th>
        <th> Date de lancement </th >
        <th> Avancement </th>
        <th> Commentaire </th>
    </tr >
    <tr>
        <td>  </td >
        <td>  </td >
        <td>  </td >
        <td>  </td >
        <td>  </td >
        <td>  </td >
        <td>  </td >
        <td>  </td >
    </tr >
    <tr>
        <th  colspan="8"> Surveillance du risque </th >
    </tr >
    <tr>
        <th > Date </th>
        <th  colspan="4"> Evenement </th >
        <th> Impact </th>
        <th  colspan="2" id="pAction"> Actions entreprises</th >
    </tr >
    <tr>
        <td >  </td >
        <td  colspan="4">  </td >
        <td >  </td >
        <td  colspan="2">  </td >
    </tr >
    <tr>
        <td > </td >
        <td  colspan="4">  </td >
        <td >  </td >
        <td  colspan="2">  </td >
    </tr >
    <tr>
        <td >  </td >
        <td  colspan="4">  </td >
        <td >  </td >
        <td  colspan="2">  </td >
    </tr >
    <tr>
        <td > </td >
        <td  colspan="4">  </td >
        <td >  </td >
        <td  colspan="2">  </td >
    </tr >
    <tr>
        <td  colspan="8" style="text-align: left"> Remarques </td >
    </tr >
    <tr>
        <th  colspan="2" style="color: orangered;"> Revue prochaine prevue en: </th >
        <td  colspan="6">  </td >
    </tr >

    </tbody>
</table>









<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/fiche.js"></scripttype></script>

</body>
</html>